{% extends 'base.html'%}
{% load bootstrap4 %}
{% block content %}  


  <p class="text-center">Get to know businesses within your locality </p>


{% load crispy_forms_tags %}  
    
        <div class="container" style=" padding: .4em; background: url(https://media.istockphoto.com/photos/perfect-sky-and-ocean-picture-id467367026?k=20&m=467367026&s=612x612&w=0&h=HBytXxkz31s-ZQrTwH3pbCy51Ep0SRScSXkChSUhYWk=); background-repeat: no-repeat; background-size: cover;">

          <!--Django Form-->
          <button class="btn btn-secondary" href="create_business/"><a href="/create_business/" class="btn btn-secondary">create business</a></button>


        <!--Django Model-->
        <h2 class="text-center" style="color: white;">Businesses</h2>
        <div class="row">
          {% for b in business %}
          <div class="col-lg-4 col-md-6 col-sm-12 pb-4">
            <div class="card h-100 p-4">
                <h3 class="text-center">Name: {{b.name}}</h3>
                <h5 class="text-center">Contact email: {{b.email}}</h5>
              <img src="{{ b.photo.url }}" class="card-img-top">
              
              <div style="background-color: beige; margin: .2rem; padding: .2em;"><p>Description: {{p.description}}</p></div>
              <p>User: {{b.user}}</p>
              <p>Neighbourhood at: {{b.neighbourhood}}</p>
              <p>Post created at: {{b.created_at}}</p>

              <p>Last modification: {{b.updated_at|timesince}}</p>

              
            </div>
          </div>
          {% empty %}
          <p>No existing posts</p>
          {% endfor %}
        </div>

      </div>
    

{% endblock %}