
{% extends 'base.html'%}
{% load bootstrap4 %}
{% block content %}  

<div style="padding: 2em; margin: .3em; border: .2em solid black;">
    <div class="row align-items-center justify-content-center">
        <h3>Create Business</h3>
      </div>
      
      
      
      
      <h2 class="text-center">CREATE BUSINESS</h2>
      <div class="row align-items-center justify-content-center">
        <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %} {% bootstrap_form form %}
            <div class="form-group">
              <input type="submit" class="btn btn-outline-info btn-sm" value="Update" />
            </div>
          </form>
      </div>
</div>

