<div style="background-color: rgb(31, 29, 29); display: flex; flex-direction: row; justify-content: space-around; padding: 1em;">

    <div>
        <h3 style="color: white;">Contacts</h3>
        <p style="color: white;">Mobile number:+254791417147</p> <br>
        <p style="color: white;">Email:timohmugendi@gmail.Com</p> <br>
        <p style="color: white;">work info: TimSoftwaredevelopers@info.com</p>

    </div>
    <div>
        <h3 style="color: white;">More</h3>
        <p style="color: white;" >Resources</p> <br>
        <p style="color: white;">Our services</p> <br>
        <p style="color: white;">Appointments</p> <br>
    </div>
</div>