<div style="background-color: rgb(31, 29, 29); display: flex; flex-direction: row; justify-content: space-around; padding: 1em;">
    <div>
        <h3 style="color: white;">Interesting News</h3>
        <ul>
            <li style="color: white;"><a style="color: white;" href="https://www.loc.gov/rr/main/olympics/dates.html">Olympics</a></li>
            <li style="color: white;"><a style="color: white;" href="https://olympics.com/ioc/beijing-2022">Beijing</a></li>
            <li style="color: white;"><a style="color: white;" href="https://www.history.com/news/why-is-a-marathon-26-2-miles">Marathon</a></li>
            <li style="color: white;"><a style="color: white;" href="https://www.athleticskenya.or.ke/">Kenyan Athletes</a></li>
        </ul>
    </div>
    <div>
        <h3 style="color: white;">Contacts</h3>
        <p style="color: white;">Mobile number:+254791417147</p> <br>
        <p style="color: white;">Email:timohmugendi@gmail.Com</p> <br>
        <p style="color: white;">work info: TimSoftwaredevelopers@info.com</p>

    </div>
    <div>
        <h3 style="color: white;">More</h3>
        <p style="color: white;" >Resources</p> <br>
        <p style="color: white;">Our services</p> <br>
        <p style="color: white;">Appointments</p> <br>
    </div>
</div>