
{% block content %}  


    
        <div class="container">


        <!--Django Model-->
        <h2 class="my-4">Neighbourhood</h2>
        <div class="row">
          {% for hood in home %}
          <div class="col-lg-4 col-md-6 col-sm-12 pb-4">
            <div class="card h-100 p-4">
                <h3>Title: {{hood.name}}</h3>
              <img src="{{ hood.picture.url }}" class="card-img-top">
              
              <p>Police contacts: {{hood.police_contact}}</p>
              <p>Location: {{hood.location}}</p>
              <p>Hospital contacts: {{hood.hospital_address}}</p>
              <p>Number of people: {{hood.persons}}</p>
              
            </div>
          </div>
          
          {% endfor %}
        </div>

      </div>
    

{% endblock %}