<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Home</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'profile' %}">PROFILE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'business' %}">BUSINESS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'post' %}">POSTS</a>
      </li>
    </ul>
  </div>
  {% if user.is_authenticated %}
 
  <ul>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">Account <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
  
        <li>
          <a href="{% url 'index' %}">Home</a>
        </li>
       

        <li>
          <a href="/accounts/login">Logout</a>
        </li>
      </ul>
    </li>
  </ul>
  {%else%}
  <li>
    <a href="/accounts/register" class="btn btn-default">Login</a>
  </li>
  {%endif%}
</nav>