{% extends 'base.html'%}
{% load bootstrap4 %}
{% block content %}  


  <p class="text-center">Neighbours are able to see what's going around them. You are free to post whatever happening. </p>



    
        <div class="container" style="padding: .6em; background: url(https://www.sandals.com/blog/content/images/2020/01/Sandals-White-House-Jamaica-Sunrise-Main-Pool.jpg); background-repeat: no-repeat; background-size: cover;">

          <!--Django Form-->
          <button class="btn btn-secondary" href="create_post/"><a href="/create_post/" class="btn btn-secondary">create post</a></button>


        <!--Django Model-->
        <h2 class="my-4">POSTS</h2>
        <div class="row">
          {% for p in post %}
          <div class="col-lg-4 col-md-6 col-sm-12 pb-4">
            <div class="card h-100 p-4">
                <h3 class="text-center">Name: {{p.title}}</h3>
                <h5 class="text-center">Neighbourhood: {{p.neighbourhood}}</h5>
              <img src="{{ p.image.url }}" class="card-img-top">
              
              <div style="background-color: beige; margin: .2rem; padding: .2em;"><p>Description: {{p.content}}</p></div>
              <p>Post created at: {{p.created_at}}</p>
              <p>Last modification: {{p.updated_at|timesince}}</p>

              
            </div>
          </div>
          {% empty %}
          <p>No existing posts</p>
          {% endfor %}
        </div>

      </div>
    

{% endblock %}